* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

body {
    background-color: rgb(130, 205, 255) !important;
}

h1 {
    font-size: 40px !important;
}

#card {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0052ce;

}